
/*UTILITIES */
h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.3rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 0.9rem;
}

.section_title{
    margin-bottom: 20px !important;
    margin: 0;
}

.section_subtitle{
    margin-bottom:30px !important;
}

.section_base{
    padding:40px 0; 
}

.section_large{
    padding:80px 0;
}

:root{
    --bs-info-rgb: 22,28,59;

    --bs-body-bg-rgb: 0, 67, 156;
}

/* FINE UTILITIES */
.my_nav{
    position: fixed;
    top: 0;
}


.nav_black-bar img{
    width: 100px;  
    padding:15px;    
}



.nav_bar img{
    width: 50px;
}

.hero_returnal,.hero_takes{
    margin-top:92px ;
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hero_takes{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.hero_returnal img{
    padding-top: 200px !important;
}

.my_border_bottom{
    border-bottom: 2px solid #0d6efd;
}

